<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-button [routerLink]="['/auth/login']" slot="start" color="light">
				<ion-icon style="zoom: 1.5;" name="arrow-back"></ion-icon>
			</ion-button>
		</ion-buttons>
		<ion-title class="ion-text-center">
			{{'Rercover Password' |  translate}}
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content class="color-overlay" id="forgot">
	<ion-grid>
		<ion-row class="ion-justify-content-center">
			<ion-col class="ion-align-self-center" size-md="6" size-lg="5" size-xs="12">
				<div style="padding-top: 100px;" class="ion-text-center">
					<img style="width: 60%;" src="/assets/img/settle-logo.svg" alt="" class="mb-10">
				</div>
				<div class="ion-text-center mt-10">
					<h3 style="color: #ffff;">{{'Did you forget your password' |  translate}}? </h3>
					<p>{{'We will send you an email with instructions on how to reset your password' |  translate}}.</p>
				</div>
				<form class="ion-padding-top" (ngSubmit)="forgotYourPassword()" [formGroup]="forgotForm">
					<ion-item class="">
						<ion-input required type="email" placeholder="{{'Enter Email'  | translate}}"
							formControlName="email">
						</ion-input>
					</ion-item>
					<br>
					<br>
					<ion-button fill="solid" expand="block" color="" class="axl_btn" (click)="forgotYourPassword()">
						{{'Send an Email' |  translate}}
					</ion-button>
					<br>
				</form>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>