// ion-content.background {
//   // --background: url(/assets/new-version/settle_logo_img.png) 0 0/100% 100% no-repeat;
//   --background: #f26d63;
//   color: aliceblue;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   position: relative;
//   width: 100%;
//   height: 100%;
//   background: #f26d63;
//   opacity: 1.2;
//   position: absolute;
// }

// p {
//   color: aliceblue !important;
// }

// .color-overlay {
//   width: 100%;
//   height: 100%;
//   background: #f16f63;
//   opacity: 0.7;
//   position: absolute;
// }

$white-color: #fff;
$height100: 100%;

ion-grid {
  width: 100%;
  height: $height100;
}

ion-row {
  height: $height100;
}
