<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>245934361075-pcau3lk4n58uqh8pbauuemv9ardlgsr7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.245934361075-pcau3lk4n58uqh8pbauuemv9ardlgsr7</string>
	<key>API_KEY</key>
	<string>AIzaSyAgrcr5ojmqK7FTJkrq13yT4I7ZDUn7GbI</string>
	<key>GCM_SENDER_ID</key>
	<string>245934361075</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jr.puntosya1.com</string>
	<key>PROJECT_ID</key>
	<string>puntosya-9440d</string>
	<key>STORAGE_BUCKET</key>
	<string>puntosya-9440d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:245934361075:ios:61164f2eb3083126df6a86</string>
</dict>
</plist>