ion-toolbar{
    --background: transparent !important;
    ion-searchbar{
        --border-radius: 10px;   
    }
}
ion-button{
    background: #CC9C61;
    border-radius: 10px;
    padding: 5px;
    height: 42px;
}