<ion-header>
  <ion-toolbar [class.show-background]="showToolbar">
    <ion-buttons slot="start">
      <ion-back-button defaultHref={{go}}></ion-back-button>
    </ion-buttons>
    <ion-title>{{title}}</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <!--<ion-img class="logo-header" src="assets/images/logo-puntosya.png"></ion-img>-->
        <ion-img class="logo-header" src="assets/images/logo-2.png"></ion-img>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>