// ion-toolbar ion-header {
//     --ion-toolbar-background-color: transparent;
//     // --ion-toolbar-text-color: white;
// }

ion-header {
    --background-color: transparent !important;
    --ion-color-base: transparent !important;
}

ion-toolbar {
    --background: transparent no-repeat fixed center;
    --color: black;
    position: absolute;
    top: 0;
}
