.desplazada{
    position: relative;
    top: 2em;
  }
  
  .botonera {
    display: flex;
    justify-content: space-between;
    width: 100%;
    
  }
  
  .ion-color-gris {
    --ion-color-base: var(--ion-color-gris);
    --ion-color-base-rgb: var(--ion-color-gris-rgb);
    --ion-color-contrast: var(--ion-color-gris-contrast);
    --ion-color-contrast-rgb: var(--ion-color-gris-contrast-rgb);
    --ion-color-shade: var(--ion-color-gris-shade);
    --ion-color-tint: var(--ion-color-gris-tint);
  }
  
  .centrado{
    display:block;
    margin:auto;
  }
  
  .boton_tamanio{
    font-size: 10px;
    top: 0.2em;
    width: 25%;
    height: 30px;
    margin-bottom: 5px;
    background-color: 'tdc';
    border-radius: 50%;
    
  }
  
  .titleHeader{
    color:#fff
  }
  
  
  
  .posicion{
    display: inline-block;
  }

  ion-item {
    border-radius: 30px !important;
    
    
    margin-bottom: 10px;
    border: 1px solid #ffffff;
   
    box-shadow: none !important;

    width: 85%;
    left: 7%;
    border-color: var(--ion-color-secondary);
    background-color: var(--ion-color-base);
}

ion-label{
  display: flex;
  justify-content: center;
}

.list-ios {
 background-color:  var(--ion-card-background, var(--ion-item-background, var(--ion-background-color, #fff))) !important;
}
