.center{
    text-align: center;    
}

/* Transparent standard */
ion-toolbar {
    --background: #662583;
    --ion-color-base:  transparent !important;

}

/* Show background if class is active */
.show-background {
    border-style: none;
    background: #662583
}

/* Remove bottom border on md */
.header-md::after {
    background-image: none;
}

/* Remove bottom border on ios */
.header-ios ion-toolbar:last-child {
    --border-width: 0;
}

.logo-header{
    height: 150%;
    width: 150%;
    margin-left: 5%;
}

ion-back-button {
    color:white
}

ion-title {
    color:white
}

