/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


/****************************************/

.popover-content.sc-ion-popover-ios {
    display: -ms-flexbox;
    width: 80% !important;
    display: flex;
    position: absolute;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow: auto;
    z-index: 10;
    margin-right: 5px;
    //margin-left: -15%
    }
    
    @media (max-width: 340px) {
      .popover-content.sc-ion-popover-ios {
        width: 95% !important;
      }
    }
  
    .ngx-pagination {
      padding-left: 0px !important;
      font-size: 12px;
    }
    
    .ngx-pagination .current,
    .btn-info {
  //    background: #16c0da !important;
      background: #CC9C61 !important;
      border: transparent !important;
      border-radius: 20px !important;
    }
    
    .ngx-pagination .current:hover {
      //background: #16c0da !important;
      background: #CC9C61 !important;
      border-radius: 20px !important; 
      border: transparent !important;
    }
  
    .table-responsive {
      display: block;
      width: 100%;
      overflow-x: auto;
      -ms-overflow-style: -ms-autohiding-scrollbar;
    }
  
    
  ._thead{
    border-bottom: 1px solid #CC9C61;
  }
  
  .tr-thead{
    padding: 1%; 
    font-size: 12px; 
    color: #CC9C61; 
    font-weight: bold;
  }
  
  .tr-tbody{
    width: 20%; 
    text-align: center; 
    padding: 2%;
    font-size: 12px;
  }
  
  .space-th-td{
    padding: 10px 50px;
    font-size: 12px;
  }

  .adp-summary{
   margin-top: 10%
  }

 
 .alert-button.sc-ion-alert-ios{
  color: white!important;
 }

 .alert-button.sc-ion-alert-md {
  color: white!important;
 }

 [aria-checked=true].sc-ion-alert-ios .alert-radio-label.sc-ion-alert-ios{
  color:  var(--ion-color-secondary);
}

[aria-checked=true].sc-ion-alert-md .alert-radio-icon.sc-ion-alert-md{
  border-color: var(--ion-color-secondary);
}

.alert-radio-inner.sc-ion-alert-md {
  background-color: var(--ion-color-secondary);
}

.ngx-pagination a, .ngx-pagination button{
  color: white!important;
}

.item-interactive.ion-invalid{
  --highlight-background: white !important;
}

.item-interactive.ion-valid {
  --highlight-background:  var(--ion-color-secondary);
}

.ngx-pagination{
  font-size: 16px !important;
}

.ngx-pagination a, .ngx-pagination button  > * :hover {
  //color: #CC9C61 !important;
  background-color: var(--ion-color-primary-font) !important;
}

// .ngx-pagination a, .ngx-pagination button  > * :focus {
//   color: #CC9C61;
//   background-color: #CC9C61;
// }